# Configs
.DS_Store
.idea

# JS projects
Javascript/template/node_modules
Javascript/template/.testevolve

# TS projects
Typescript/template/node_modules
Javascript/template/.testevolve

# Python projects
Python/template/.testevolve
