[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://oxy.jfrog.io/artifactory/api/pypi/spark-py/simple"
verify_ssl = true
name = "artifactory"

[packages]
testevolve = {version = "*", index = "artifactory"}

[requires]
python_version = "3.11"

[scripts]
tests = 'behave --no-capture'
